VITE_PORTAL_SERVER_URL=/v1
VITE_BEARER_TOKEN=
VITE_COMPANY_NAME=Developer Portal

# OIDC auth code flow (set by ExtAuth at the gateway)
VITE_APPLIED_OIDC_AUTH_CODE_CONFIG=
VITE_OIDC_AUTH_CODE_CONFIG_CALLBACK_PATH=/v1/login
VITE_OIDC_AUTH_CODE_CONFIG_LOGOUT_PATH=/v1/logout
